body{
  background-color: #14274d;
}

nav{
  height: 5%;
  width: 100%;
  display: flex;
  align-items: center;
  padding-left: 75%;
  background-color: #fc5a5d;
  box-shadow: 10px;
  position: fixed;
  z-index: 4;

}
nav a{
  color: white;
  text-decoration: none;
  font-size: 1.5em;
  padding-left: 20px;
  font-family: 'Roboto', sans-serif;
}

footer{
  height: 5%;
  width: 100%;
  color: #fc5a5d;
  display: flex;
  align-items: center;
  justify-content: center;
  font-family: 'Roboto', sans-serif;
}

nav a:hover{
  color: #14274d;
  text-decoration: none;
  font-family: 'Roboto', sans-serif;
}

nav a:visited{
  color: white;
  text-decoration: none;
  font-size: 1.5em;
  padding-left: 20px;
  font-family: 'Roboto', sans-serif;
}

.whiteText{
  color: white;
  text-align: center;
  font-family: 'Roboto', sans-serif;
}

#leftWrapper{
  margin: 0 auto;
}

p{
  text-align: center;
  margin:  5% 20%;
  color: white;
  font-size: 1.4em;
  font-family: 'Roboto', sans-serif;
}

#rightWrapper{
  margin: 0 auto;
}

#preview{
  margin: 0 auto;
}

.col-md-6{
  height: 100%;
  display: flex;
  align-items: center;
}

#logo{
  display: block;
  margin: 0 auto;
  height: 300px;
}

#main-content{
  display: none;
}

.devImages{
  height: 175px;
  margin: 0 auto;
  border-radius: 50%;
  border-width: 2px;
  border: solid;
  border-color: #fc5a5d;
}

.devsRow{
  padding-top: 5%;
  background-color: white;
  display: flex;
  align-items: center;
}

.devAuthor{
  color: #14274d;
  font-family: 'Roboto', sans-serif;
}
.devMajor{
  color: #fc5a5d;
  font-family: 'Roboto', sans-serif;
}
.devDescription{
  color: #14274d;
  margin-left: 0;
  text-align: left;
  font-size: 1.2em;
  font-family: 'Roboto', sans-serif;
}
#devsTitle{
  text-align: center;
  color: #14274d;
  margin: 0 auto;
  font-family: 'Roboto', sans-serif;
  font-size: 2.5em;
}

#techTitle{
  text-align: center;
  color: #ffffff;
  margin: 0 auto;
  padding-top: 5%;
  font-size: 2.5em;
  display: block;
  font-family: 'Roboto', sans-serif;
}

#finalDevsRow{
  padding-bottom: 10%;
}

.techRow{
  background-color: #fc5a5d;
  display: flex;
  align-items: center;
  text-align: center;
  padding-bottom: 5%;
}

.techName{
  color: #14274d;
  font-family: 'Roboto', sans-serif;
}

#iotLabLink{
  color: white;
  padding-left: 5px;
  font-family: 'Roboto', sans-serif;
}

.devLink{
  text-decoration: none;
  color: #14274d;
  font-family: 'Roboto', sans-serif;
}

.devLink:hover{
  text-decoration: none;
  color: #fc5a5d;
}

#githubLink{
  text-decoration: none;
  font-family: 'Roboto', sans-serif;
  color: #fc5a5d;
}

#githubLink:hover{
  text-decoration: none;
  color: #ffffff;
  font-family: 'Roboto', sans-serif;
}
