body{
  background-color: #14274d;
}

.whiteText{
  color: white;
}

p{
  font-size: 1.2em;
  color: white;
  text-align: center;
  display: block;
}

#leftWrapper{
  padding-top: 50px;
  display: table;
  margin: 0 auto;
}

#rightWrapper{
  display: table;
  margin: 0 auto;
  padding-top: 50px;
}

.col-md-6{
  height: 100%;
  border: solid;
  border-color: green;
}

img{
}
